body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin:0 ;
    
}
section{
    display: flex;
    padding: 5%;
    text-align: left ;
    
}
.orange-color{
    color: orange;
}
.left-border{

border-image: linear-gradient(Red, green);
border-image-slice: 1;
border-left: solid 4px;
}
.half-width{
    width: 50%;
}
section img{
    width: 80%;
}
.url-button{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(221, 207, 7));
    padding: 10px 40px;
    border-radius: 8%;
    
}

#mission-section{
    padding-left:4%;
    column-gap: 40px;
}
#mission-section div {
width: 30%;
     box-shadow: 20px 30px 60px;
     color: gray;
    padding: 2%;
    border-radius: 10%;
    
}
#mission-div{
    background-color: thistle;   
}

#vision-div{
    background-color: skyblue
}
#goals-div{
   background-color: burlywood;
}
#mission-section-title{
    text-align: center;
}
#community-section{
    column-gap: 40px;
}

#hero-app-logo{
    padding: 20px;
    
}
footer{
    background-color:lightsteelblue;
    padding: 25px;
    text-align: center;
}